.header-legend {
	.products-txt {
		border-left: 3px solid $border-light;
	}
	.brand-img {
		border-left: 1px solid $border-dark;
		border-bottom: 2px dashed $border-dark;
		img {
			max-width: 100%;
		}
	}
}
