.navbar {
	.navbar-brand {
		border-bottom: 3px solid $orange-logo;
		padding: 1.75rem 1rem;
		img {
			height: 28px;
		}
	}
	.navbar-toggler {
		color: white;
		font-size: 32px;
	}
	.nav-item {
		border-bottom: 1px solid $border-dark;
		padding: 0.7rem;
		text-align: center;
		.nav-link {
			color: white;
		}
		&.social {
			font-size: 24px;
			i {
				margin: 0 2rem 0 0;
			}
		}
		&:hover:not(.social) {
			border-color: $orange-hover;
			.nav-link {
				color: $orange-hover;
			}
		}
	}
}

@media (min-width: 1200px) {
	.navbar {
		.navbar-brand {
			padding: 1rem;
		}
	}
}
