.navbar {
	.navbar-brand {
		border-bottom: 3px solid $orange-logo;
		padding: 1rem;
		img {
			height: 28px;
		}
	}
	.nav-item {
		border-bottom: 1px solid $border-dark;
		padding: 0.7rem;
		.nav-link {
			color: white;
		}
		&:hover {
			border-color: $orange-hover;
			.nav-link {
				color: $orange-hover;
			}
		}
	}
}
