<div class="container">
	<h3 class="row flex-nowrap"><div>SUSCRIBETE A NUESTRO NEWSLETTER <span>|</span></div></h3>
	<p class="row">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi aliquid vitae magnam.
	</p>
	{{yield}}
	<div class="row all-rights my-1">
		Todos los derechos reservados &copy; 2017
	</div>
</div>