<div class="container">
	<h3>SUSCRIBETE A NUESTRO NEWSLETTER <span>|</span></h3>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi aliquid vitae magnam.
	</p>
	{{yield}}
	<div class="row all-rights">
		Todos los derechos reservados &copy; 2017
	</div>
</div>