<div class="container images-ctn">
	<div class="row position-relative align-items-center">
		<div class="col-4 o-hidden pants-img offset-2"></div>
		<div class="col-4 o-hidden bike-img"></div>
		<img class="mannequin-img" src="/assets/images/Capa25.png" alt="">
		<img class="mens-wear-img" src="/assets/images/MensWear.png" alt="">
	</div>
</div>

<div class="container-fluid decoration-ctn mt-5 pb-4">
	<div class="container pl-0">
		<div class="row justify-content-end">
			<div class="square mr-4"></div>
			<div class="line ml-4"></div>
			<div class="col-3"></div>
		</div>
		<div class="row offset-2">
			<h4 class="col pl-0">
				LOREM IPSUM DOLOR SIT AMET <span>|</span>
			</h4>
		</div>
	</div>
</div>
{{yield}}