<div class="container pl-0">
	<div class="row justify-content-around">
		<div class="col-4 offset-1">
			<img src="/assets/images/IMG_4836.png" alt="">
		</div>
		<div class="col-4 ctn-txt pl-0">
			<h3>
				LOREM IPSUM DOLOR SIT AMET <span>|</span>
			</h3>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, dignissimos modi adipisci architecto veniam sunt vero dolor facilis natus
			</p>
		</div>
	</div>
</div>
{{yield}}