<div class="col-lg-5 mt-3 pb-3">
	<p class="products-txt pl-4 pt-2 pb-2 mb-0">Inicio / Productos</p>
	<p class="brand-img pl-4 pt-2 pb-3"><img src="/assets/images/la-marca-cortar.png" alt=""></p>
	<p class="lorem-txt pl-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum repudiandae corporis, nesciunt doloremque quidem excepturi esse</p>
</div>
{{yield}}