<div class="col-md-4">
	<p>Inicio / Productos</p>
	<p><img src="/assets/images/la-marca-cortar.png" alt=""></p>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum repudiandae corporis, nesciunt doloremque quidem excepturi esse</p>
</div>
{{yield}}