<nav class="navbar navbar-expand-lg pt-2">
	<a class="navbar-brand mr-0" href="#">
		<img src="/assets/images/logotipo.png" alt="Logotipo">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item d-flex align-items-center">
				<a class="nav-link" href="#">PRODUCTOS</a>
			</li>
			<li class="nav-item d-flex align-items-center">
				<a class="nav-link" href="#">LA MARCA</a>
			</li>
			<li class="nav-item d-flex align-items-center">
				<a class="nav-link" href="#">¿DÓNDE COMPRAR?</a>
			</li>
			<li class="nav-item d-flex align-items-center">
				<a class="nav-link" href="#">CONTÁCTANOS</a>
			</li>
			<li class="nav-item d-flex d-lg-none align-items-center social">
				<a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
				<a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
				<a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
			</li>
			<li class="nav-item d-none d-lg-flex align-items-center pr-0 pl-0">
				<a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
			</li>
			<li class="nav-item d-none d-lg-flex align-items-center pr-0 pl-0">
				<a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
			</li>
			<li class="nav-item d-none d-lg-flex align-items-center pr-0 pl-0">
				<a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
			</li>
		</ul>
	</div>
</nav>
{{yield}}