.mens-wear-content {
	.images-ctn {
		position: relative;
		top: 0;
		.o-hidden {
			overflow: hidden;
			height: 100%;
		}
		.bike-img, .pants-img {
			background-repeat: no-repeat;
			background-color: black;
		}
		.pants-img {
			background-position: right;
			background-image: url('/assets/images/Capa27.png');
			height: 500px;
			position: relative;
			top: 5em;
		}
		.bike-img {
			height: 600px;
			background-position: center -2em;
			background-image: url('/assets/images/Capa24.png');
		}
		.mannequin-img {
			position: absolute;
			top: 2em;
			left: calc(50% - 88px);
			height: 600px;
		}
		.mens-wear-img {
			position: absolute;
			left: 0;
			top: calc(50% - 182px);
			width: 100%;
		}
	}

	.decoration-ctn {
		.lorem-txt {
			span {
				margin-left: 2rem;
			}
		}
		.square {
			width: 20px;
			height: 20px;
			background-color: black;
		}
		.line {
			height: 20px;
			width: 6px;
			background-color: black;
		}
	}
}

@media (max-width: 992px) {
	.mens-wear-content {
		.images-ctn {
			max-width: 100%;
			.mens-wear-img {
				position: absolute;
				padding: 0 1em;
			}
		}
	}
}

@media (min-width: 992px) {
	.mens-wear-content {
		.images-ctn {
			top: -10em;
			.bike-img {
				height: 800px;
			}
			.mannequin-img {
				top: 10em;
				height: auto;
			}
		}
	}
}
